<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tester"
        tools:targetApi="31">
        <activity
            android:name=".lessons.lesson_3.HomeWorkThree"
            android:exported="false" />
        <activity
            android:name=".lessons.lesson_3.LessonThree"
            android:exported="false" />
        <activity
            android:name=".lessons.lesson_2.HomeWorkTwo"
            android:exported="false" />
        <activity
            android:name=".lessons.lesson_2.LessonTwoDetail"
            android:exported="false" />
        <activity
            android:name=".lessons.lesson_2.LessonTwo"
            android:exported="false" />
        <activity
            android:name=".lessons.lesson_1.HomeWorkOne"
            android:exported="false"
            android:theme="@style/Theme.HomeWork" />
        <activity
            android:name=".lessons.lesson_1.LessonOne"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>